body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #EFF6EE;
    font-family: 'Courier New', Courier, monospace;
    
}

header{
    background-color: #F4D1AE;
    display: flex;
    
    justify-content: space-between;
}
section{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    
}
main h2{
    margin: 0px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header h1 {
    display: flex;
    
    margin: 10px;

}
header nav{
    display: inline flex;
}

header nav ul{
    display: inline flex;
    text-decoration: none;
    list-style: none;
    
}

header nav ul li{
    margin: 10px;
    color: black;
}

header nav ul li a{
    color: black;
}

.group{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
}

.item{
    margin: 10px;
    
}
img{
    width: 40%;
    
}
footer{
    background-color: #F4D1AE;
    justify-content: center;
    align-items: center;
}
footer p{
    display: flex;
    justify-content: center;
    
}




.about h3{
    justify-content: center;
}



@media all and (min-width: 600px){
    main{
        flex-direction: column;
    }
    body{
        flex-direction: column;
    }
    .group{
        flex-direction: column;
    }
}
